header {
  background: url('http://www.psdgraphics.com/file/metal-diamond-plate.jpg');
  display: flex;
  justify-content: space-between;
  height:120px;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Metal Mania', cursive;
  text-align: center;
  height:60px;
  /* width: 50%; */
  background-color: rgba(79, 79, 79,0.99);
  padding: 8px 10px;

}

h3 {
  margin-top:20px;
  border-bottom:1px solid grey;
}

.del-edit:hover {
  cursor: pointer;
}


.username, .password {
  color: black;
}

.car-mini-label {
  text-align: center;
}

.car-thumb:hover {
  cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: white;
	height: 500px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#close:hover {
  cursor: pointer;
}
.container{

  display:flex;
  flex-direction: row;
  width:750px;
  flex-wrap: wrap;
  margin:0 auto;
  justify-content: space-between;
}

.individualsCars {
  margin: 10px;
  width:200px;
}

.editForm {
  width:200px;
}
