<!-- ************* Create User ******************* -->
<h3 style="text-align:center;">Create Account</h3>
      <form ng-submit="ctrl.createUser()">
        <div class="container" style="border: 1px solid grey; border-radius: 5px; padding:2%;">
          <div class="row">
            <div class="">
              <label>Username</label>
              <input class="u-full-width username" type="text" ng-model="ctrl.username" placeholder="username" required/>
            </div>
            <div class="">
              <label>Password</label>
              <input class="u-full-width password" type="password" ng-model="ctrl.password" placeholder="password" required/>
            </div>
            <input class="button-primary" type="submit" value="Create User">
          </div>
        </div>
      </form>
